cache:
  directories:
    - sysconfcpus
install:
  - | # https://github.com/elm-lang/elm-compiler/issues/1473#issuecomment-245704142
    if [ ! -d sysconfcpus/bin ];
    then
      git clone https://github.com/obmarg/libsysconfcpus.git; 
      cd libsysconfcpus;
      ./configure --prefix=$TRAVIS_BUILD_DIR/sysconfcpus;
      make && make install;
      cd ..;
    fi
  - npm install -g elm@0.18.0 elm-format@exp

script:
  - elm-format --validate src
  - |
    ALLOWED=80 MAX=0 IFS=
    while read -r line; do
        if [ ${#line} -gt $MAX ]; then MAX=${#line}; fi
    done < "$1"
    if [ $MAX -gt $ALLOWED ]; then
      printf "Maximal line length should be $ALLOWED. Actual: $MAX\n"
    fi
  - $TRAVIS_BUILD_DIR/sysconfcpus/bin/sysconfcpus -n 2 elm-make --warn --output=/dev/null --yes
